.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__yJmY9 {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-gnGCWH9g6YPmGL);
  display: flex;
  position: relative;
  min-width: 0;
}
.freeBox__yJmY9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__yJmY9 > :global(.__wab_flex-container) > *,
.freeBox__yJmY9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yJmY9 > :global(.__wab_flex-container) > picture > img,
.freeBox__yJmY9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yJmY9 {
    width: 100%;
    height: auto;
    max-width: var(--token-gnGCWH9g6YPmGL);
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yJmY9 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yJmY9 > :global(.__wab_flex-container) > *,
  .freeBox__yJmY9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yJmY9 > :global(.__wab_flex-container) > picture > img,
  .freeBox__yJmY9
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__delEf {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.freeBox__delEf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__delEf > :global(.__wab_flex-container) > *,
.freeBox__delEf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__delEf > :global(.__wab_flex-container) > picture > img,
.freeBox__delEf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__delEf {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__delEf > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__delEf > :global(.__wab_flex-container) > *,
  .freeBox__delEf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__delEf > :global(.__wab_flex-container) > picture > img,
  .freeBox__delEf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__zCko3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__g1JP0 {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: var(--token-NEon4Y--Z);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__g1JP0 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: var(--token-NEon4Y--Z);
  }
}
.text__csFwy {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgba(51, 140, 245, 0);
  background: linear-gradient(
      90deg,
      rgb(51, 140, 245) 0%,
      rgb(79, 209, 197) 100%
    )
    0% 0% / 100% 100% padding-box /* clip: text **/;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__csFwy {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgba(51, 140, 245, 0);
    background: linear-gradient(
        90deg,
        rgb(51, 140, 245) 0%,
        rgb(79, 209, 197) 100%
      )
      0% 0% / 100% 100% padding-box /* clip: text **/;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.text__fo77E {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fo77E {
    font-size: 24px;
    text-align: center;
    max-width: 768px;
    position: relative;
    align-self: center;
  }
}
.freeBox__lj3En {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__lj3En > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__lj3En > :global(.__wab_flex-container) > *,
.freeBox__lj3En > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lj3En > :global(.__wab_flex-container) > picture > img,
.freeBox__lj3En
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button__gqzas:global(.__wab_instance) {
  position: relative;
}
.svg__xJmXq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__mw4Cu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__n8Jb8:global(.__wab_instance) {
  position: relative;
}
.svg__sxSce {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__bYbUk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__fGxty {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.img__xiU1 {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__xiU1 > picture > img {
  object-fit: cover;
}
.img__xiU1 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.solutions:global(.__wab_instance) {
  position: relative;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.column__qPXjE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__qPXjE {
    width: 100%;
  }
}
.freeBox__wwS {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__wwS > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__wwS > :global(.__wab_flex-container) > *,
.freeBox__wwS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wwS > :global(.__wab_flex-container) > picture > img,
.freeBox__wwS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wwS {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wwS > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text___6ILxh {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
}
.text__l6E4J {
  position: relative;
  color: var(--token-jBhCqxBbh1U);
}
.featureCard__xtatx:global(.__wab_instance) {
  position: relative;
}
.svg__w2XCm {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__fEF {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__aoWm3:global(.__wab_instance) {
  position: relative;
}
.svg__xICcy {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__ankda {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__adKll:global(.__wab_instance) {
  position: relative;
}
.svg__lJ4Fw {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__lyQyv {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.column___741Kg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___741Kg {
    width: 100%;
  }
}
.img__hAou {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__hAou > picture > img {
  object-fit: cover;
}
.img__hAou > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.howItWorks:global(.__wab_instance) {
  position: relative;
}
.freeBox__o2Qkb {
  flex-direction: row;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__o2Qkb > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__o2Qkb > :global(.__wab_flex-container) > *,
.freeBox__o2Qkb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o2Qkb > :global(.__wab_flex-container) > picture > img,
.freeBox__o2Qkb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__w2RKi:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ugOqX {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-jEtUdY927AO2x5);
}
.svg__wZnge {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__a4LbQ:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__zF1LU {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-jEtUdY927AO2x5);
}
.svg__tbZbb {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__j8Nss:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___8NddR {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-jEtUdY927AO2x5);
}
.svg__oQneX {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__bk6Hv:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___1Tp4 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-jEtUdY927AO2x5);
}
.svg__zq7J {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__c10Dd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__fcb {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-jEtUdY927AO2x5);
}
.svg__kic5J {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__mmolk:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__dRphv {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-jEtUdY927AO2x5);
}
.svg___61Tt4 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__c3TgN {
  display: block;
  position: absolute;
  left: 50%;
  top: auto;
  width: 2px;
  height: 77px;
  bottom: -88px;
  border: 1px solid var(--token-E8giEWXvyDpxaO);
}
.validation:global(.__wab_instance) {
  position: relative;
}
.freeBox__dpxdU {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__dpxdU > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__dpxdU > :global(.__wab_flex-container) > *,
.freeBox__dpxdU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dpxdU > :global(.__wab_flex-container) > picture > img,
.freeBox__dpxdU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__qb4Ma {
  flex-direction: row;
  display: flex;
}
.freeBox__qb4Ma > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__qb4Ma > :global(.__wab_flex-container) > *,
.freeBox__qb4Ma > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qb4Ma > :global(.__wab_flex-container) > picture > img,
.freeBox__qb4Ma
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__wJTn1 {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__rPuUs {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__pUb0H {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__fa76N {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__s10Xj {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
