.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__qbzBc {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-gnGCWH9g6YPmGL);
  display: flex;
  min-width: 0;
}
.freeBox__qbzBc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__qbzBc > :global(.__wab_flex-container) > *,
.freeBox__qbzBc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qbzBc > :global(.__wab_flex-container) > picture > img,
.freeBox__qbzBc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns___3Jp {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns___3Jp > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns___3Jp > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns___3Jp > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns___3Jp > :global(.__wab_flex-container) > *,
.columns___3Jp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___3Jp > :global(.__wab_flex-container) > picture > img,
.columns___3Jp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___3Jp {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___3Jp > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___3Jp > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___3Jp > :global(.__wab_flex-container) > *,
  .columns___3Jp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___3Jp > :global(.__wab_flex-container) > picture > img,
  .columns___3Jp
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__uzI9Q {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__uzI9Q {
    width: 100%;
  }
}
.freeBox__gpv0N {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__gpv0N > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__gpv0N > :global(.__wab_flex-container) > *,
.freeBox__gpv0N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gpv0N > :global(.__wab_flex-container) > picture > img,
.freeBox__gpv0N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gpv0N {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gpv0N > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__e89Bs {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__enzC {
  position: relative;
  text-align: left;
}
.bullet__of3Wa:global(.__wab_instance) {
  position: relative;
}
.bullet___9Cdet:global(.__wab_instance) {
  position: relative;
}
.bullet__wPpPb:global(.__wab_instance) {
  position: relative;
}
.text__bh1Cz {
  position: relative;
  text-align: left;
}
.freeBox__kGkZf {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__kGkZf > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__kGkZf > :global(.__wab_flex-container) > *,
.freeBox__kGkZf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kGkZf > :global(.__wab_flex-container) > picture > img,
.freeBox__kGkZf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kGkZf {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kGkZf > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kGkZf > :global(.__wab_flex-container) > *,
  .freeBox__kGkZf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kGkZf > :global(.__wab_flex-container) > picture > img,
  .freeBox__kGkZf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__tyaNz:global(.__wab_instance) {
  position: relative;
}
.svg__tzG7 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__jhhcF {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__qv710:global(.__wab_instance) {
  position: relative;
}
.svg__zigbl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ereG {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column___2U5Am {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___2U5Am {
    width: 100%;
  }
}
.img__leE7J {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__leE7J > picture > img {
  object-fit: cover;
}
.img__leE7J > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__mErNc {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns__mErNc > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__mErNc > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__mErNc > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__mErNc > :global(.__wab_flex-container) > *,
.columns__mErNc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__mErNc > :global(.__wab_flex-container) > picture > img,
.columns__mErNc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mErNc {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mErNc > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mErNc > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mErNc > :global(.__wab_flex-container) > *,
  .columns__mErNc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__mErNc > :global(.__wab_flex-container) > picture > img,
  .columns__mErNc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column___3TCzT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___3TCzT {
    width: 100%;
  }
}
.img__gwCb5 {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__gwCb5 > picture > img {
  object-fit: cover;
}
.img__gwCb5 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__w9Y4Y {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__w9Y4Y {
    width: 100%;
  }
}
.freeBox__g5E5C {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__g5E5C > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__g5E5C > :global(.__wab_flex-container) > *,
.freeBox__g5E5C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__g5E5C > :global(.__wab_flex-container) > picture > img,
.freeBox__g5E5C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__g5E5C {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__g5E5C > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__tpVQq {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__cbVy {
  position: relative;
  text-align: left;
}
.bullet__fEYmQ:global(.__wab_instance) {
  position: relative;
}
.bullet__eflUc:global(.__wab_instance) {
  position: relative;
}
.bullet__apuKt:global(.__wab_instance) {
  position: relative;
}
.text__myEsr {
  position: relative;
  text-align: left;
}
.freeBox__tnqul {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__tnqul > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__tnqul > :global(.__wab_flex-container) > *,
.freeBox__tnqul > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tnqul > :global(.__wab_flex-container) > picture > img,
.freeBox__tnqul
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tnqul {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tnqul > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tnqul > :global(.__wab_flex-container) > *,
  .freeBox__tnqul > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__tnqul > :global(.__wab_flex-container) > picture > img,
  .freeBox__tnqul
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__e6D82:global(.__wab_instance) {
  position: relative;
}
.svg__usgIs {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__qcPcl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__cVy7A:global(.__wab_instance) {
  position: relative;
}
.svg__dT7DX {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__cDu93 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
